<div class="row">
  <div class="col-xs-6">
    <span role="checkbox" {{action "toggleAllSelection"}} class="fa {{if (is-equal _selecteditems.length data.length) "fa-check-square-o" "fa-square-o"}}"></span>
  </div>
</div>