<div class="app_details">
	<p>RGU Events is a tool designed for the management of events occurring within the School of Computing Science and Digital Media.</p>
	<p>For user queries, please contact site administrators:</p>
	<div class="app_adminstrators">

	</div>
	<p>For technical issues, please contact:</p>
	<div class="app_technicians">
		
	</div>
</div>