<div class="app_details">
	<p>RGU Events is a tool designed for the management of events occurring within the School of Computing Science and Digital Media. It specifically targets to keep track of the events and their deadlines as well as organising the right staff to the events.</p>
	
	<div class="app_adminstrators">
		<p>For user queries, please contact site administrators:</p>
		<p>Direct Number: 072645642</p>
		<p>Mobile Number: 071465461</p>
		<p>Email address: adminevents@rguevents.ac.uk</p>
	</div>
	
	

	<div class="app_technicians">
		<p>For technical issues, please contact:</p>
		<p>Helpdesk number(8:00 - 17:00): 077264852</p>
		<p>Helpdesk Email address: events.it.helpdesk@rguevents.ac.uk</p>
		<p>Out-off Office number: 0772348654 </p>
	</div>
</div>