<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About RGU Events Calendar</h2>
  <p>
    Bla bla bla bla bla bla bla bla blaBla bla bla bla bla bla bla bla bla,
    Bla bla bla bla bla bla bla bla blaBla bla bla bla bla bla bla bla bla,
    Bla bla bla bla bla bla bla bla bla.
  </p>
  {{#link-to "events" class="button"}}
    Events
  {{/link-to}}
</div>