<div class="container">
  <div class="menu">
    {{#link-to "index"}}
      <h1>
        <em>RGU Events Calendar</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "events" class="menu-contact"}}
        What's On
      {{/link-to}}
      {{#link-to "about" class="menu-about"}}
        About
      {{/link-to}}
      {{#link-to "users" class="menu-users"}}
        Users
      {{/link-to}}
      {{#link-to "profile" class="menu-profile"}}
        My Profile
      {{/link-to}}
       <button class="btn btn-secondary" {{action 'goToLoginPage' }}>Logout</button>
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
  <div class="footer">
   <div class="footer content">
     &copy;RGU Team Old Boys.<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><a href="https://www.facebook.com/robertgordonuniversity/" class="fa fa-facebook"></a><a  href="https://twitter.com/robertgordonuni?lang=en" class="fa fa-twitter"></a>
   </div>
  </div>
</div>