<div class="container">
  <div class="menu">
    {{#link-to "index"}}
      <h1>
        <em>RGU Events Calendar</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "events" class="menu-contact"}}
        What's On
      {{/link-to}}
      {{#link-to "about" class="menu-about"}}
        About
      {{/link-to}}
      {{#link-to "users" class="menu-users"}}
        Users
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>