{{#if model.canEdit}}
    <form class="new_event_form">
        <div class="input_row">
		    <label for="event_title">Event Name: </label>
            <input type="text" name="event_title">
        </div>
        <div class="input_row">
            <label for="event_city">City: </label>
            <input type="text" name="event_city">
        </div>
        <div class="input_row">
            <label for="event_image">Event Image (URL): </label>
            <input type="url" name="event_image">
        </div>
        <div class="input_row">
            <label for="event_bedrooms">Number of Bedrooms: </label>
            <input type="number" name="event_bedrooms">
        </div>
        <div class="input_row">
            <label for="event_description">Description of the event: </label>
            <textarea name="event_description"></textarea>
        </div>
        <input class="btn btn-default login_button" type="submit" {{action 'storeEvent'}} value="Save Event">
    </form>
{{else}}
    <div class="error_message">
        <p>You don't have the permission to create an event.</p>
        <p><a href="/">Return to the home page.</a></p>
    </div>
{{/if}}