{{#if model.canEdit}}
    
{{else}}
    <div class="error_message">
        <p>You don't have the permission to edit an event.</p>
        <p><a href="/">Return to the home page.</a></p>
    </div>
{{/if}}