{{outlet}}
<div class="jumbo">
  <h2>Event 001</h2>
  <img scr ="" class="card-img-top" alt="...">

 <ul style="list-style-type:none">
         <li>Event Description:
             <p>The Event is a standard charity event holded for the XYZ Cross.</p>
         </li>
        <div>
         <li>Date of Venue: 20/10/19</li>
         <li>Location of Venue: Union Square</li>
         <li>Event Organiser: Mr Maxi Schuler</li>
         </div>

         <div>
         <li>Organisation Team: 
             <ul>
                 <li>User 001</li>
                 <li>User 002</li>
             </ul>
         </li>
         </div>
         <div>
         <li>Task/To Do list:
             <Ul>
                 <li>Task -001</li>
                 <li>Task -002</li>
             </Ul>
         </li>
         </div>
      </ul>
  

</div>