<div class="jumbo-eventprofile">
  <h2 class="event-title">Event 001</h2>
  <img class="event-image" src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Crane_estate_(5).jpg" alt="PhotoOfEvent!"/>
  
    <div class="event-details">
      <div class="event-date">Date of Venue: 20/10/19</div>
      <div class="event-location">Location of Venue: Union Square</div>
      <div class="event-organiser">Event Organiser: Mr Maxi Schuler</div>
      <div class="event-attendance"> Estimated Attendance:  </div>
    </div>
    <div class="event-description">Event Description:
      <p>The Event is a standard charity event holded for the XYZ Cross.</p>
    </div>

    {{#if model.canEdit}}
    <a href="#" class="btn btn-primary btn-custom mt-auto">Edit Event</a>
    {{/if}}
    
      <li class="event-teamlist">Organisation Team:
        <ul>
          <li>User 001</li>
          <li>User 002</li>
        </ul>
      </li>
    
      <li class="event-tasklist">Task/To Do list:
        {{#if model.canEdit}}
        <a href="#" class="btn btn-primary btn-custom mt-auto" {{action 'createTask' 0}}>Create Task</a>
        {{/if}}
        <ul>
          {{#each this.model.data as |task|}}
          <li>{{task.name}} {{#if model.canEdit}} <a href="#" class="btn btn-primary btn-custom mt-auto" {{action "editTask" task.id}}>Edit Task</a> {{/if}}</li>
          {{/each}}
        </ul>
      </li>
</div>