{{outlet}}
<div class="jumbo">
  <h2>Event 001</h2>
  <img scr ="" class="card-img-top" alt="...">

 <ul style="list-style-type:none">
         <li>Event Nmae:
             <p>The Event is a standard charity event holded for the XYZ Cross.</p>
         </li>
         <li>Date of Venue:</li>
         <li>Location of Venue:</li>
         <li>Event Organiser:</li>

         <li>Organisation Team: 
             <ul>
                 <li>User 001</li>
                 <li>User 002</li>
             </ul>
         </li>
         <li>Task/To Do list
             <Ul>
                 <li>Task -001</li>
                 <li>Task -002</li>
             </Ul>
         </li>
      </ul>
  

</div>