<div class="jumbo">
  <h2>Event 001</h2>
  <img src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Crane_estate_(5).jpg" alt="PhotoOfEvent!"/>
  <ul style="list-style-type:none">
    <li>Event Description:
      <p>The Event is a standard charity event holded for the XYZ Cross.</p>
    </li>
    <div class="row">
      <div class="date">Date of Venue: 20/10/19</div>
      <div class="location">Location of Venue: Union Square</div>
      <div class="organiser">Event Organiser: Mr Maxi Schuler</div>
    </div>

    {{#if model.canEdit}}
    <a href="#" class="btn btn-primary btn-custom mt-auto">Edit Event</a>
    {{/if}}

    <div class="column right">
      <li>Organisation Team:
        <ul>
          <li>User 001</li>
          <li>User 002</li>
        </ul>
      </li>
    </div>
    <div class="column right">
      <li>Task/To Do list:
        <ul>
          {{#each this.model.data as |task|}}
          <li>{{task.name}} {{#if model.canEdit}} <a href="edittask?task_id={{task.id}}">Edit Task</a> {{/if}}</li>
          {{/each}}
        </ul>
      </li>
    </div>
  </ul>
</div>