{{outlet}}
<div class="jumbo">
  <h2 class= "user-fullname">User 001</h2>
  <img scr ="" class="card-img-top" alt="...">

 <ul style="list-style-type:none">
        <li class="user-idnumber" >ID:</li>
         <li class="user-title" >Title:</li>
        <li class="user-firstname" >First Name:</li>
        <li class="user-othername" >Other Name:</li>
        <li class="user-lastname" >Last Name:</li>
         <li class="user-gender" >Gender:</li>
          <li class="user-age" >Age:</li>
         <li class="user-type" >Type:</li>
         <li class="user-jobtitle">Job:</li>
          <li class="user-email" >Email address:</li>
           <li class="user-mobile" >Mobile  Number:</li>
            <li class="user-worknumber" Work Number>:</li>
         <li class="user-projects">Experience/Past projects: 
             <ul>
                 <li>some job</li>
             </ul>
         </li>
          <li class="user-skills" >Skills:
              <ul>
                 <li>some Skills</li>
             </ul>
          </li>
      </ul>
  

</div>