{{outlet}}
<div class="jumbo-user">
  <h2 class= "user-fullname">User 001</h2>
  <img class="user-image" scr ="" alt="...">

        <div class="user-idnumber" >ID:</div>
         <div class="user-title" >Title:</div>
        <div class="user-firstname" >First Name:</div>
        <div class="user-othername" >Other Name:</div>
        <div class="user-lastname" >Last Name:</div>
         <div class="user-gender" >Gender:</div>
          <div class="user-age" >Age:</div>
         <div class="user-type" >Type:</div>
         <div class="user-jobtitle">Job:</div>
          <div class="user-email" >Email address:</div>
           <div class="user-mobile" >Mobile  Number:</div>
            <div class="user-worknumber">Work Number:</div>
         <li class="user-projects">Experience/Past projects: 
             <ul>
                 <li>some job</li>
             </ul>
         </li>
          <li class="user-skills" >Skills:
              <ul>
                 <li>some Skills</li>
             </ul>
          </li>

  

</div>