{{outlet}}
<div class="jumbo">
  <h2>User 001</h2>
  <img scr ="" class="card-img-top" alt="...">

 <ul style="list-style-type:none">
         <li>ID:</li>
         <li>Job:</li>
         <li>Experience: 
             <ul>
                 <li>some job</li>
             </ul>
         </li>
      </ul>
  

</div>